@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Medium-FD-WOL.woff2") format("woff2"),
      url("../fonts/Vazir-Medium-FD-WOL.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Bold-FD-WOL.woff2") format("woff2"),
      url("../fonts/Vazir-Bold-FD-WOL.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .btn {
    @apply inline-block py-2 px-4 rounded-full;
  }

  .btn-primary {
    @apply bg-teal-600 text-white hover:text-black hover:bg-slate-300 transition-all duration-300 ease-in;
  }

  .btn-secoundary {
    @apply bg-slate-300 text-black hover:text-white hover:bg-teal-600 transition-all duration-300 ease-in;
  }

  .nav-item {
    @apply transition duration-300 ease-in-out hover:border-b-2 hover:border-teal-600;
  }

  .nav-item-selected {
    @apply border-b-2 border-teal-600;
  }
}
